{
  "semi": true,
  "singleQuote": false,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "**/*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
